// *** fade ***
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// *** dropdown ***
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;

  transform: scaleY(0.7);
}

.dropdown-enter-to,
.dropdown-leave {
  opacity: 1;

  transform: scaleY(1);
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: all;
  transform-origin: top center;
}