$fonts-extensions: "woff2",
"woff";

// **************************
// *** HeliosC ***
// **************************
$inter-path: "~@/assets/fonts";
$inter: "HeliosC";

@include font-face($inter, "#{$inter-path}/HeliosThinC", 100, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosLightC", 300, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosC", 400, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosC-Bold", 700, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosBlackC", 900, normal, $fonts-extensions);

// **************************
// *** HeliosC-Italic ***
// **************************

$inter-path: "~@/assets/fonts";
$inter: "HeliosC-Italic";
@include font-face($inter, "#{$inter-path}/HeliosThinC-Italic", 100, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosLightC-Italic", 300, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosC-Italic", 400, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosC-BoldItalic", 700, normal, $fonts-extensions);
@include font-face($inter, "#{$inter-path}/HeliosBlackC-Italic", 900, normal, $fonts-extensions);